*{
    padding: 0;
    margin: 0;
    
}

body{
    background: #212529;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,38,38,1) 90%);

}

#esquerda{
   width: 35%;
   float: left;
   margin-right: 20px;
}

#direita{
    width: 40%;
    float: left;
}

.scrolltable{
    border-radius: 5px;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}

.form-group{
    color: white;
}

